header {
    display: flex;
    padding: 10px;
    align-items: center;
}

header > nav {
    flex-grow: 1;
    display: flex;
}

.cabecera {
    display: flex;
    width: 100%;
    list-style: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    flex: 1;
    text-align: center;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.menu {
    display: none;
    width: 30px;
    height: 30px;
}

#leyenda {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    min-height: 100svh;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

/* izquierda */
.info {
    width: 40%;
    min-width: 516px;
}

.info > h1 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info > h1 > span {
    color: purple;
}

.buttons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

button {
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
}

.buttons > button:first-child {
    background-color: green;
    color: white;
    border: 1px solid black;
}

.buttons > button:last-child {
    background-color: white;
    color: green;
    border: 1px solid black;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    list-style-type: none;
    gap: 20px;
}

ul > li {
    flex-basis: 350px;
    flex-grow: 1;
}

ul > li > img {
    width: 100%;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

.form-group > input {
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-group > button {
    padding: 8px;
    padding-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    background-color: antiquewhite;
}
